/*legend*/

  .legend {
        position: absolute;
              top: 10px;
              right: 10px;
              z-index: 1111111111;
        font-size: 80%;
        padding: 0px;
        background: #fff;
        font-size: 14px;
        font-family: sans-serif;
        border-radius: 4px;
    }
    .legend ul {
      padding: 0 20px;
    }
    .legend ul li {
      color:black;
      list-style: none;
      line-height: 25px;
    }

    .leg1, .leg2, .leg3, .leg4, .leg5 {

    width: 40px;
    width: 14px;
    height: 14px;
        display: -webkit-inline-box;
    }

    .leg1 {
    background-color: red;
    display: -webkit-inline-box;
    }
    .leg2 {

    background-color: orange;

    }
    .leg3 {

    background-color: green;

    }
/*about*/

.logo {    
    bottom: 10px;
    background: white;
    position: absolute;
    /* top: 20px; */
    z-index: 1111;
    right: 10px;
    padding: 10px;
    border-radius: 2px;}
