/*legend*/

  .legend {
        position: absolute;
              bottom: 10px;
              left: 10px;
              z-index: 1111111111;
        font-size: 80%;
        padding: 0px;
        background: #fff;
        font-size: 14px;
        font-family: sans-serif;
        border-radius: 4px;
    }
    .legend ul {
      padding: 0 20px;
    }
    .legend ul li {
      color:black;
      list-style: none;
      line-height: 25px;
    }

    .leg1, .leg2, .leg3, .leg4, .leg5 {

    width: 40px;
    width: 14px;
    height: 14px;
        display: -webkit-inline-box;
    }

    .leg1 {

    background-color: red;
    display: -webkit-inline-box;
    }
    .leg2 {

    background-color: #49ce68;

    }
       .leg3 {

    background-color: #0000ff;

    }
       .leg4 {

    background-color: red;

    }